.row-container2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2rem 0;
  }
  
  .content-container2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 2rem;
  }
  .title {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .align-center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .fullview{
    height: 80vh;
    width: 55%;
  }
  @media (max-width: 768px) {
    .fullview {
      height: 90vh;
      width: 100%;
    }
  }
  
  .title2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .description2 {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
  
  .image-container2 {
    width: 60%;
  }
  
  .image-container2 img {
    width: 32rem;
    height: 42rem;
  }
  
  @media (max-width: 768px) {
    .row-container2 {
      flex-direction: column;
    }
    
    .content-container2, .image-container2 {
      width: 100%;
      text-align: center;
      margin: 1rem 0;
    }
    
    .image-container2 {
      order: -1;
    }
  }
  .row-container3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
  }
  
  .products-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
  }
  
  .product-card {
    width: calc(33.33% - 1rem);
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    border-radius: 15px;
  }
  .product-card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
  }
  
  .product-card img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
  }
  .product-card img:hover {
    transform: scale(1.02);
    transition: transform 0.3s ease-in-out;
  }
  
  .product-card h3 {
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
  
  .product-card p {
    max-width: 65%;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .product-card button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .product-card button:hover {
    background-color: #0056b3;
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
  }
  .home-button{
    background-color: var(--color-red);
    letter-spacing: 0.1rem;
    padding: 1rem 2rem;
    text-transform: uppercase;
    border-radius: 10rem;
    font-weight: 500;
    min-width: 15rem;
  }
    
  @media (max-width: 768px) {
    .products-section {
      flex-direction: column;
      align-items: center;
    }
    
    .product-card {
      width: 100%;
    }
  }

  .concours-button {
    background-color: transparent;
    border-width: 4px;
    border-color: var(--color-red);
    letter-spacing: 0.1rem;
    padding: 1.5rem 3rem;
    text-transform: uppercase;
    border-radius: 10rem;
    cursor: pointer;
    min-width: 20rem;
  }
  .no-decoration {
    text-decoration: none;
    font-size: large;
    font-style: oblique;
    color: var(--color-red);
    
  }
  .green{
    color: var(--color-red);
    font-size: x-large;
  }