.home-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.home-container::before {
  content: "";
  background-image: url('./accueil-bg2.jpg');
  background-size: cover;
  background-position-y: 85%;
  transform: scaleX(-1);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
  
  .content-container {
    /* background-color: aquamarine; */
    flex: 1 1 50%;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
  }
  
  .image-container {
    flex: 1 1 50%;
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .content-header {
    margin-top: 1%;
    margin-bottom: 1%;
    flex: 1 1 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .content-header p {
    color: var(--color-text);
    font-weight: 400;
    font-size: 1.5rem;
  }
  
  .content-header .link {
    text-decoration: none;
    color: var(--color-red);
  }
  
  .logo {
    color: var(--color-red);
    font-weight: 500;
    font-size: 3rem;
  }
  
  .outlet-container {
    flex: 1 1 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    align-items: center;
  }
  
  @media only screen and (max-width: 998px) {
    .image-container {
      display: none;
    }
    .home-container {
      flex-direction: column;
    }
  }
  
  @media only screen and (max-width: 400px) {
    .content-container {
      padding: 2rem;
    }
    .content-header p {
      padding-top: 0.8rem;
    }
  }